<html lang="en ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation">
    <div id="navigation">
        <nav>
            <div class="brand">
                <a class="main" href="#">
                    <img src="/image/favicon.png" alt="DreamBank">
                    DreamBank
                </a>

                <div>
                    <div class="nav-item">
                        <a href="#">Главная</a>
                    </div>
                </div>
            </div>

            <div>
                <form class="auth">
                    <a class="btn signin"  th:method="get" th:href="@{/login}">Вход</a>
                    <a class="btn reg" th:method="get" th:href="@{/reg}">Регистрация</a>
                </form>
            </div>
        </nav>
    </div>
</div>